<div class="modal fade" id="modalExclusao" tabindex="-1" aria-labelledby="modalExclusaoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalExclusaoLabel">Confirmar exclusão</h5>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir a taxa <%=taxa.id%>?
            </div>
            <div class="modal-footer">
                <form method="POST" action="/taxas/<%=taxa.id%>/?_method=DELETE">
                    <button class="btn btn-danger" type="submit">Confirmar exclusão</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>